$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .instadown {
      .title-brand {
          min-width: 680px;
      }
      .page-header {
        min-height: calc(100vh - 150px)
      }
      
  }
    //thinhnnd 
    #search-input {
      padding: 25px 10px;
      font-size: 20px;
  }
  .modal-dialog {
    max-width: 900px;
    margin: 1.75rem auto;
  }
  
}

@media (min-width: 576px) {
  .modal-dialog {
      max-width: 700px;
      margin: 1.75rem auto;
  }

  .modal-body {
    padding: 1rem;
  }
}

@media (max-width: 768px) {
  .instadown { 
    .header-search {
    margin: 0 15px 15px 11px;
  }
}
}

.instadown {
  .img-wrapper img{
    max-width: 100%;
  }

  .section-media {
    .side-function {
       .btn.btn-fullwith {
         width: 100%;
         margin-bottom: 15px;
       }
       .share {
         button {
           margin-left: 15px;
         }
         button:fisrt-child {
           margin-left: initial;
         }
       }
    }
  }

  .footer .container .row{
    justify-content: space-between;
  }
  .footer .teacher-credits {
    align-self: center;
  }

  .react-photo-gallery--gallery {
    
  }

  .react-photo-gallery--gallery > div {
    justify-content: center;
    
  }
}
.header-search {
  max-width: 750px;
  flex-grow: 2;
  &.hide {
    display: none;
  }
}

.show {
  display: initial;
}

.hovereffect {
  width: 100%;
  height: 100%;
  float: left;
  overflow: hidden;
  position: relative;
  text-align: center;
  cursor: default;

}

.hovereffect .overlay {
  width: 100%;
  position: absolute;
  overflow: hidden;
  left: 0;
  top: auto;
  bottom: 0;
  padding: 1em;
  height: 4.75em;
  background: rgba(0, 0, 0, 0.8);
  color: #3c4a50;
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 100%, 0);
  transform: translate3d(0, 100%, 0);
}

.hovereffect h2 {
  text-transform: uppercase;
  color: #fff;
  text-align: center;
  position: relative;
  font-size: 10px;
  padding: 7px;
  /*background: rgba(0, 0, 0, 0.6); */
  border: 1px solid #fff;
  float: left;
  margin: 0px;
  display: inline-block;
}

.hovereffect h2 a {
  text-decoration: none;
  color: #fff;
}

.hovereffect a.info {
  display: inline-block;
  text-decoration: none;
  padding: 7px 14px;
  text-transform: uppercase;
  color: #fff;
  border: 1px solid #fff;
  margin: 50px 0 0 0;
  background-color: transparent;
}
.hovereffect a.info:hover {
  box-shadow: 0 0 5px #fff;
}

.hovereffect p.icon-links a {
  float: right;
  color: #fff;
  font-size: 1.4em;
}

.hovereffect:hover p.icon-links a:hover,
.hovereffect:hover p.icon-links a:focus {
  color: "";
}

.hovereffect h2,
.hovereffect p.icon-links a {
  -webkit-transition: -webkit-transform 0.35s;
  transition: transform 0.35s;
  -webkit-transform: translate3d(0, 200%, 0);
  transform: translate3d(0, 200%, 0);
  visibility: visible;
}


.hovereffect p.icon-links a i:before {
  display: inline-block;
  padding: 8px 10px;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.hovereffect:hover .overlay,
.hovereffect:hover h2,
.hovereffect:hover p.icon-links a {
  -webkit-transform: translate3d(0, 0, 0);
  transform: translate3d(0, 0, 0);
}

.hovereffect:hover h2 {
  -webkit-transition-delay: 0.05s;
  transition-delay: 0.05s;
}

.hovereffect:hover p.icon-links a:nth-child(3) {
  -webkit-transition-delay: 0.1s;
  transition-delay: 0.1s;
}

.hovereffect:hover p.icon-links a:nth-child(2) {
  -webkit-transition-delay: 0.15s;
  transition-delay: 0.15s;
}

.hovereffect:hover p.icon-links a:first-child {
  -webkit-transition-delay: 0.2s;
  transition-delay: 0.2s;
}


//padding for a tag

.hovereffect p.icon-links a {
  margin-right: 30px;
}

.hovereffect p.icon-links a:first-child {
  margin-right: initial;
}

.instadown {
  .nav-search-btn {
    margin: 0;
  }

  .konvajs-content {
    margin: 0 auto;
  }


  .sketch-picker  {
    display: inline-block;
  }

  //login, register 
    //date-time

  #datetimepicker {
    .rdtDays, .rdtMonth, .rdtYear {
      color: #000;
    }
    .rdtDays.rdtOld {
      color: #3c4a50;
    }
  }

  // loading 
  .lds-ripple {
    display: inline-block;
    position: relative;
    width: 80px;
    height: 80px;
  }
  .lds-ripple div {
    position: absolute;
    border: 4px solid #403D41;
    opacity: 1;
    border-radius: 50%;
    animation: lds-ripple 1s cubic-bezier(0, 0.2, 0.8, 1) infinite;
  }
  .lds-ripple div:nth-child(2) {
    animation-delay: -0.5s;
  }

  .profile-content {
    padding-bottom: 15px;
  }

  .gradient-seleneum {
    background: #3C3B3F;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #605C3C, #3C3B3F);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #605C3C, #3C3B3F); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .gradient-alihossein {
    background: #f7ff00;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #db36a4, #f7ff00);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #db36a4, #f7ff00); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  .gradient-brightvault {
    background: #00d2ff;  /* fallback for old browsers */
    background: -webkit-linear-gradient(to left, #928DAB, #00d2ff);  /* Chrome 10-25, Safari 5.1-6 */
    background: linear-gradient(to left, #928DAB, #00d2ff); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  }

  @keyframes lds-ripple {
    0% {
      top: 36px;
      left: 36px;
      width: 0;
      height: 0;
      opacity: 1;
    }
    100% {
      top: 0px;
      left: 0px;
      width: 72px;
      height: 72px;
      opacity: 0;
    }
  }
  
}



