$breakpoint-tablet: 768px;
@media (min-width: $breakpoint-tablet) {
  .instadown {
      .title-brand {
          min-width: 680px;
      }
      .page-header {
        min-height: calc(100vh - 150px)
      }
      
  }
    //thinhnnd 
    #search-input {
      padding: 25px 10px;
      font-size: 20px;
  }
 
}

@media (max-width: 768px) {
  .instadown { 
    .header-search {
    margin: 0 15px 15px 11px;
  }
}
}

.instadown {
  .footer .container .row{
    justify-content: space-between;
  }
  .footer .teacher-credits {
    align-self: center;
  }
}
.header-search {
  max-width: 750px;
  flex-grow: 2;
  &.hide {
    display: none;
  }
}

.show {
  display: initial;
}






